[submodule "vendor/bgfx"]
	path = vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "vendor/bx"]
	path = vendor/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "vendor/gwencs"]
	path = vendor/gwencs
	url = https://github.com/ming4883/gwen-dotnet.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/mix_genie"]
	path = vendor/mix_genie
	url = https://github.com/ming4883/mix_genie.git
